
/* Header */
.header{
    background-color: aliceblue;
    text-align: center;
}

/* Calender */
.calender{
    width:90%;
    height: 600px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* Data */

/* Months */