
body{
  font-family: Arial, Helvetica, sans-serif;
}


/* Header */
.header{
    background-color:  rgb(156, 190, 179);
    text-align: center;
  
}

/* Main section */
.mainSection{
  display: grid;
  grid-template-columns: 1fr 10fr;
}

/* Active ticker list */
.activeTicker{
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  background-color: rgb(162, 207, 247);
  padding: 3px 3px 3px 3px;
  margin: 0px 3px 3px 0px;
  font-size: 20px;
}

.activeInput{
  width: 90%;
}

.deleteButton{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(233, 112, 112);
  font-size: 20px;
  text-align: center;
}

/* Calender */
.calender{
    width:90%;
    height: 395px;
    background-color: rgb(186, 228, 214);
    /* margin-left: auto; */
    margin-right: auto;
    display: grid;
    grid-template-rows: 10fr 1fr;
}



/* Months */
.months{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border: 3px solid;
    
    text-align: center;
}

.months h3{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: 3px solid;
}

.dividendSection{
  width:81.8%;
  height: 400px;
  background-color: rgb(186, 228, 214);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

#monthSum{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border: 5px solid;
    border-top: 2px solid;
    text-align: center;
}

/* Data */
.data{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5,70px);
    text-align: center;
    height: 50px;
    /* margin-top: auto; */
}

/* Month Block */
.monthBlock{
    font-size: 30px;
    margin-top: 18%;
}

/* Form */
#form{
  height: 36px;
  display: grid;
  grid-template-columns: 2.3fr 300px 100px 200px 70px 1fr 5%;
}

#form h2{
  margin: 0px;
  padding: 0px;
  padding-top: 7px;
  
}

#button{
  margin-right: 20px;
}

/* countdown */
#countDown{
  font-size: 35px;
  text-align: center;
}

#clock{
  padding: 0px;
  padding-right: 508px;
  margin: 0px;
  text-align: right;
}

/* Search */
#search{
  width: 200px;

}

#search{
  width: 280px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(241, 241, 241);
  border: 2px solid rgb(136, 136, 136);
  border-radius: 10px 10px;
  padding-left: 20px;
}

#search:focus {
  outline:0;
  background-color: rgb(255, 255, 255);
}

#result{
  width: 280px;
  margin-left: 10px;
  border: 2px solid rgb(199, 199, 199);
  border-top: 0px;
  position:relative;
}

.searchResult{
  position: static;
  width: 280px;
  height: 25px;
  display: grid;
  font-size: 15px;
  grid-template-columns: 1fr 2fr;
  background-color: rgb(255, 255, 255);

}

.searchResult div{
  padding-left: 10px;
  padding-top: 5px;
}

.searchResult:hover{
  background-color: rgb(210, 229, 255);
}